<html>
<head>
	<title> Page Sports </title>
	<link href="{{url_for('static', path='/style.css')}}" rel="stylesheet">
</head>
<body>
	<h1> Bienvenue sur cette page my best friend ! </h1>
	<p> Ici il y aura l'accès à tous les sports que tu kiffe !</p>
	<ul>
		<li><a href="https://maxifoot.com/" target=_blank> Football </a></li>
		<li><a href="https://nba.com/" target=_blank> Basket </a></li>
		<li><a href="https://nfl.com/" target=_blank> American Football ! </a></li>
		<li><a href="https://mlb.com/" target=_blank> Baseball </a></li>
	</ul>
</body>
</html>
